<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Montserrat+Alternates" rel="stylesheet">
  <title>Trainer.</title>
</head>
<body class="container">
  <header></br>
    <h1 class="nav justify-content-center title">Trainer.</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">About <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" href="/contact">Contact</a>
        </div>
      </div>
    </nav></br>
  </header>
  <div class="inputs">
    <h4>Login:</h4>
    <div class="regLog">
      <form class="reg" action="/auth/login" method="POST">
      <div class="inputLogin">
        <div class="homeInput">
          Username: <input class="log" type="text" name="username" placeholder="username"><br>
        </div>
        <div class="homeInput">
          Password: <input class="log" type="password" name="password" placeholder="password"><br>
        </div>
      </div>
       <button class="logs" type="submit">Submit</button>
      </form></br>
    </div></br></br>
    <h4>Register:</h4>
    <div class="regLog">
      <form class="reg" action="/auth/register" method="POST">
      <div class="inputLogin">
        <div class="homeInput">
          Name: <input class="log" type="text" name="name" placeholder="name (first, last)"><br>
        </div>
        <div class="homeInput">
          Username: <input class="log" type="text" name="username" placeholder="username"><br>
        </div>
        <div class="homeInput">
          Password: <input class="log" type="password" name="password" placeholder="password"><br>
        </div>
        <div class="homeInput">
          Email: <input class="log" type="text" name="email" placeholder="email address"><br>
        </div>        
      </div>   
      <button class="logs" type="submit">Submit</button>
    </br>  
      </form>
    </div></br></br>
    <h5 class="failure"><%= message %></h5>
  </div>
</br>
<footer>
  <ul>
    <li class="nav-item">
        <a class="nav-link active copyright">© 2018 Trainer.</a>
      </li>
  </ul></br>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>