<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Montserrat+Alternates" rel="stylesheet">
<title>Trainer. - Homepage</title>
</head>
<body class="container2">
  <header></br>
  	<div class="button-hp">
  		<a href="/auth"><button type="button" class="btn btn-dark" href="/auth">Register/Login</button></a>
  	</div></br>
  	<div class="hp-title">
	  	<h1 class="nav justify-content-center subtitle-home">Welcome to</h1></br>
	    <h1 class="nav justify-content-center title-home">Trainer.</h1></br>
	</div>
  </header></br></br></br></br>
  <main class="welcome-body">
      <h4 class="welcome">Our Mission</h4>
      <h5>Here at Trainer.™, we want to give personal trainers complete peace-of-mind; while at the same time impressing their clients with knowledge and remembrance of each workout and their individual progress. We believe that every trainer should have the opportunity to keep track of their clients' progress with as much dedication and ease as their clients have access to through things like fitness trackers and apps. Our service is free to use, so please download, track progress, inspire, and keep making the world a happier and healthier place!</h5>
      <!-- This is a quick comment. -->
    </main>
  <footer>
  </br></br>
    <ul>
      <li class="nav-item">
          <a class="nav-link active copyright">© 2018 Trainer.</a>
        </li>
    </ul>
  </footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
